*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 20%;
  width: 60%;
  padding: 10px 5px;
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  box-shadow: 1px 1px 10px #d3d3d3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  border-bottom: 1px solid #b9b9b9;
}

.header p {
  font-size: medium;
  font-weight: bold;
  color: rgb(61, 61, 61);
}

.header .loop-icon {
  color: #b2b2b2;
}

.add-task {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 2% 0;
  border-bottom: 1px solid #b9b9b9;
}

.add-task input {
  border: none;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-task input::placeholder {
  font-size: medium;
  font-style: italic;
  color: #b2b2b2;
}

.add-task button {
  border: none;
  background-color: white;
}

.add-task .return-icon {
  color: #b2b2b2;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
  border-bottom: 1px solid #b9b9b9;
}

ul li.active {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul li input[type="text"] {
  border: none;
}

ul li input[type="text"]::placeholder {
  color: black;
  font-size: medium;
}

ul li .task-to-edit.active {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  font-size: medium;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li .vertical-line-btn {
  border: none;
  background-color: white;
}

ul li .vertical-line-icon {
  color: #b2b2b2;
}

ul li .remove-icon {
  color: #b2b2b2;
}

.clear-list-btn {
  border: none;
  background-color: white;
  font-size: medium;
  font-style: italic;
  color: #b2b2b2;
  padding: 2% 0;
}
